
form {
  width: 50%;
  margin: 0 auto  ;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  align-items: center;
  
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"], input[type="email"], input[type="password"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: red;
}
.alert {
  padding: 20px;
  background-color: green;
  color: white;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
button{
  background-color: red;
  border-radius: 3px;
   color: white;
}